#bazel
bazel-out
.bazelrc

dist/
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
tmp/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
/bin/

\.gradle/3\.5\.1/fileContent/annotation-processors\.bin

\.gradle/3\.5\.1/fileContent/fileContent\.lock

\.gradle/3\.5\.1/taskHistory/jvmClassSignatures\.bin
