#bazel
bazel-out
.bazelrc

dist/
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
tmp/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
/bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Prod config file
prod.config.json

liquibase.properties

# bazel
out/
bazel-*