/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto;
}

:root {
    --primary: #634f1a;
    --secondary: #8e5715;
    --font-colour: #403d08;
    --font-colour-light: #eee;
    --background: #bbbd9c;
    --background-dark: #4CAF50; 
    --danger: #7B1616;
    --success: #397126;
}

* {
    color: var(--font-colour);
}

.header {
    color: var(--primary);
    margin: 0;
    text-transform: capitalize;
}

button {
    padding: 0.25rem;
}

button.submit {
    background: var(--success);
    color: var(--font-colour-light);
}