@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Prata|Roboto');

/* Theme 0 */
/* :root {
    --primary: #634f1a;
    --secondary: #8e5715;
    --font-colour: #403d08;
    --font-colour-light: #eee;
    --background: #bbbd9c;
    --background-dark: #4CAF50; 
    --danger: #7B1616;
    --success: #397126;
} */

/* Theme 1 */
/* :root {
    --primary: #214e24;
    --secondary: #33364c;
    --font-colour: #2f4238;
    --font-colour-light: #eee;
    --background: #829a96;
    --background-dark: #4CAF50; 
    --danger: #7B1616;
    --success: #397126;
} */

/* Theme 2 */
:root {
    --primary: #184a20;
    --secondary: #214e24;
    --font-colour: #14422a;
    --font-colour-light: #eee;
    --background: #a7d47f;
    --background-dark: #4CAF50; 
    --danger: #7B1616;
    --success: #397126;

    --font: 'Roboto', sans-serif;
    --font-header: 'Prata', serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: var(--font);
}

* {
    color: var(--font-colour);
}

.header {
    color: var(--primary);
    margin: 0;
    text-transform: capitalize;
    font: var(--font-header);
}

button {
    padding: 0.25rem;
}

button.submit {
    background: var(--success);
    border: none;
    padding: 10px 16px;
    color: var(--font-colour-light);
    font: var(--font);
    box-shadow: none;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.header {
    font: var(--font-header);
    font-size: 2em;
}

.content-container {
    margin: 1rem;
}

.form-group {
    display: block;
    padding: 5px;
}

.form-control {
    display: block;
    width:  100%;
    margin: 5px;
}

.error {
    color: var(--danger);
}