/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

:root {
    --primary: #634f1a;
    --secondary: #8e5715;
    --font-colour: #403d08;
    --background: #bbbd9c;
    --danger: #7B1616;
    --success: #397126;
}

* {
    color: var(--font-colour);
}

.header {
    color: var(--primary);
    margin: 0;
    text-transform: capitalize;
}

.rating {
    margin: 2rem 0;
}

.rating i {
    color: var(--secondary);
    margin: 2rem 0;
}