.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url("/assets/mountain_background.jpg");
    flex-direction: column;
}

.page-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,var(--primary),var(--secondary));
    opacity: .4;
}

.search-container {
    width: 75%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
    font-family: Roboto;
    z-index: 5;
    text-shadow: 0 2px 2px #303030;
}

.title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.title-container div {
    color: #fff;
}

.subtitle {
    font-size: 2rem;
}